ast_serialize==0.8.0
certifi==2026.6.17
charset-normalizer==3.4.9
cowsay==6.1
idna==3.18
iniconfig==2.3.0
librt==0.15.0
mypy==2.3.1
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
pillow==12.3.0
pluggy==1.6.0
Pygments==2.20.0
pytest==9.1.1
pyttsx3==2.99
requests==2.34.2
typing_extensions==4.16.0
urllib3==2.7.0
